*,body,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    text-align: center;
    
}
.wrap{
    max-width: 1920px;
    max-height: 3279px;
    text-align: center;
   
}
.q{
    background-color: #E5E5E5;
    width: 100%;
    padding-top: 17px;
    padding-bottom: 16px;
}
li{ 
    display: inline;
}
a{
    padding-left: 15px;
    padding-right: 15px;
    color: black;
}
.line{
    border: 1px solid #EFEFEF;
}
.w{
    margin-top: 25px;
    margin-bottom: 30px;
   
}
.e{
    background-image: url(../pages/Rectangle\ 2.png);
    width: 100%;
    height: 604px;
    position: relative;
}
.r{
    position: absolute;
    top: 192px;
    left: 405px;
}
.t{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: left;
    color: white;
}
.u{
    padding: 12px 49px 13px 49px;
    border: 3px solid white;
    border-radius: 40px;
    margin-right: 137px;
    color: white;
}
.spez{
    padding-top: 80px;
    margin-bottom: 38px;
    margin-left: 405px;
    text-align: start;
}
.wrapa{
    background-color:  #E5E5E5;
}
.cresla{
    display: flex;
    justify-content: center;
    
}
.box{
    margin-left: 15px;
    margin-right: 15px;
    width: 255px;
    height: 363px;
    border: 1px solid black; 
    background-color: white;
}
.z{
    margin-top: 25px;
}
.info{
    padding-top: 20px;
}
.kypit{
    padding: 9px 40px;
    background-color: #F13C6E;
    border-radius: 30px;
}

.f{
    display: flex;
    
}
.g{
    width: 540px;
    height: 212px;
    background: #F13C6E;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 395px;
    position: relative;
}
.h{width: 540px;
    height: 212px;
    background: #F13C6E;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 31px;
    position: relative;
}
.j{ position: absolute;
    top: 35px;
    left: 40px;
}
.l{
    position: absolute;
    top: 77px;
    left: 44px;
}
.email{
    position: absolute;
    border-radius: 40px;
    top: 142px;
    right: 275px;
    padding: 9px 25px 9px 29px;
}
.cartoon{
    position: absolute;
    top: 52px;
    left: 330px;
}
.qw{ position: absolute;
    padding: 9px 13px 9px 13px;
    border: 1px solid white;
    top: 142px;
    right: 330px;
}
.impuls{
    width: 1110px;
    height: 357px;
    border: 2px solid black;
    margin: auto;
    margin-bottom: 80px;}
.prosmotren{
        margin-right: 856px;
        padding-bottom: 32px;
    }
.n{
    background-color:#E5E5E5 ;
    padding-bottom: 80px;
}
.conets{
    width: 1920px;
    height: 557px;
    background: FFFFFF;
    display: flex;
    justify-content: center;
}
.popcategories{
    margin-top: 67px;
    width: 255px;
    height: 253px;
    /* border: 1px solid black; */
    margin-left: 10px;
}
.risochca{
    width: 100%;
    border: 1px solid #EFEFEF;
}
.menuscka{
    width: 100px;
    height: 158px;
    /* border: 1px solid black; */
    margin-top: 25px;
    display: flex;
}
.categor{
    color: #828282;
}