*,body,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    /* text-decoration: none; */
    margin: auto;
}
a{
    color: black;
}
.menu {
    display: flex;
    width: 1330px;
    height: 95px;
    border: 1px solid teal;
    justify-content: space-around;
    align-items: center;
}
.cnopkaa{
    padding: 10px 36px;
    border: 1px solid black;
    margin-right: -5px;
}
.cnopkab{
    padding: 10px 22px;
    background-color: #FF6336;
    color: white;
    margin-left: -20px;
}
.q{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1330px;

}
.w{
    height: 326px;
    display: flex;
    justify-content: space-around;
    flex-direction: column; 
}
.e{
    display: flex;
    width: 329px;
    justify-content: space-around;
    margin-top: 40px;
}
.r{
    padding: 10px 41px;
    background-color: #FF6336;
    color: white;
}
.t{
    padding: 10px 29px;
    border: 1px solid black;
    
}
.qw{
    background-color: #FF9C7D;
    width: 1330px;
    height: 455px;
}
.qwe{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;

}
.qwer{
    text-align: center;
}
.conteiner{
    display: flex;
    width: 1330px;
    height: 632px;
}
.we{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 650px;
    height: 341px;
}
.wer{
     
}
.zxc{
    width: 1440px;
    height: 1033px;
    background-color: #FFF8E4;
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;
    
}
.zx{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 120px;
}
.zxcv{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.logotip{
    width: 400px;
    height: 294px;
    /* border: 1px solid black; */
}
.sq{
    height: 600px;
    background-color: white;
    /* text-align: center; */
    /* display: flex; */
    /* flex-wrap: wrap; */
}
.qz{
    margin-top: 120px;
    font-size: 50px;
    text-align: center;
}
.colonki{
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
}
.colonka{
    width: 200px;
    height: 609px;
    /* margin-top: 100px; */
}
.q1{
    margin-top: 34px;
    margin-bottom: 25px;
}
.z1{
    height: 468px;
    background-color: #c9e8f2;
    display: flex;
    justify-content: space-between;
}
.q4{
    width: 800px;
}
.z3{
    display: flex;
    justify-content: space-around;
    background-color: #DABC98;
    height: 332px;
}
.polosa{
    border: 1px solid black;
    height: 100px;
    width: 1px;
}
.z4{
    height: 800px;
    text-align: center;
}
.cnopocka12{
    margin-top: 32px;
    padding: 10px 36px;
    background-color: #FF6336;
    color: white;
}
.z6{
    height: 500px;
    background: #FF9C7D;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.cnopocka13{
   
    padding: 10px 33px;
    color: #c9e8f2;
    background-color: black;

}