*{
    margin: 0;
    padding: 0;
    
}
.main{
    width: 1000px;
    margin: 0 auto;
    margin-left: 100px;
}
.ear{
    height: 100px;
    width: 100px;
    background: pink;
    display: inline-block;
    margin-left: 100px;
}
.hole1{
    width: 50px;
    height: 50px;
    background: yellow;
    margin: 20px 25px 20px;
}
.header{
    height: 300px;
    width: 500px;
    background: pink;
    margin-top: -10px;
    margin-left: 10px;

}
.glaza{
    height: 100px;
    width: 100px;
    background: yellow;
    margin-left: 90px;
    display: inline-block;
    margin-top: 40px;
}
.grazhek{
    height: 40px;
    width: 30px;
    background: black;
    margin: 60px 60px 0px;
    
}
.nos{
    height: 60px;
    width: 200px;
    background: yellow;
    margin: 0 0px 0px 130px;
}
.nosdri{
    height: 30px;
    width: 20px;
    background: black;
    display: inline-block;
    margin-top: 30px;
    margin-left: 50px;

}
.rot{
    background: red;
    width: 300px;
    height: 80px;
    margin-top: 10px;
    margin-left: 80px;
    
}
.zybverh{
    width: 30px;
    height: 40px;
    background: black;
    display: inline-block;
    margin-left: 13px;

}
.zybniz{
    width: 30px;
    height: 37px;
    background: white;
    display: inline-block;
    margin-left: 16px;
}
.chea{
    width: 200px;
    height: 50px;
    background: pink;
    margin-left: 150px;
    padding-top: 10px;
    
}
.choker{
    height: 20px;
    width: 200px;
    background: yellow;
}
.telo{
    width: 400px;
    height: 400px;
    background: pink;
    margin-left: 50px;
    /* position: relative; */
    
}
.pygo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: red;
    margin-left: 90px;
    /* position: absolute; */
    margin-top: 80px;    
}
.noga{
    width: 100px;
    height: 100px;
    background: pink;
    display: inline-block;
    margin-left: 100px;
}
.copytsa{
    height: 40px;
    width: 100px;
    background: black;
    margin-top: 60px;
}
.ryki{
  
 
}
.ryka{
    height: 100px;
    width: 100px;
    background: pink;
    padding-left: 100px;
    padding: 0px 150px 0px 300px;
    border-radius: 20%;
}
.nogot{
    height: 100px;
    width: 90px;
    background: black;
    margin-left: 160px;
    border-radius: 30%;
    
}
    